/* -- HEADER -- */
.header {
  width: 100%;
  height: 80px;
  background-color: #fff;
}

.header .cart {
  cursor: pointer;
  text-decoration: none;
}
.header .cart i {
  color: #00355e;
}
.header .cart #badgeCarrito {
  background-color: #7c7c7c !important;
  padding: 8px;
}

.iconos {
  display: flex;
  flex-direction: row;
}

/* ---- FOOTER ---- */
.footer {
  width: 100%;
  padding: 40px 0;
  background-color: #00355e;
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer .text {
  margin-right: 20px;
  font-size: 14px;
  font-weight: normal;
  color: #fff;
}

/* ---- MAIN ---- */
body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #212121;
  color: #212121;
}
.wrap {
  width: 100%;
  padding: 100px 50px;
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  width: 100%;
  margin: 0 auto 40px;
  text-align: center;
  font-size: 40px;
  font-weight: bold;
  color: #fff;
}
/* ---- SLIDER SECTION ---- */
.slider-section {
  margin: 40px 0 40px;
  border-radius: 12px;
  overflow: hidden;
}

/* ---- PRODUCTS SECTION ---- */
.products-section .search-box {
  width: 100%;
  margin: 0 auto 40px;
  padding: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  border-radius: 12px;
}
.products-section .search-box .text {
  margin-right: 20px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c7c7c;
}
.products-section .search-frame {
  height: 40px;
  border: 1px solid #cccccc;
  width: 100%;
  border-radius: 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
  padding-right: 15px;
}

.products-section .search-frame input {
  width: 90%;
  height: 30px;
  border: 0;
  font-size: 16px;
  font-weight: bold;
  color: #363636;
}
.products-section .search-frame input:focus {
  border: 0;
}
.products-section .search-frame input:focus-visible {
  outline-offset: none;
  outline: none;
}

.products-section .list {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
}
.products-section .card {
  width: 100%;
  height: 100%;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
.products-section .list .card .image {
  width: 100%;
  height: auto;
}
.products-section .list .card .image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.products-section .list .card .text {
  width: 100%;
  height: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.products-section .list .card .text .info-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.products-section .list .card .text .brand {
  margin-bottom: 10px;
  font-size: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  text-transform: uppercase;
  color: #7c7c7c;
}
.products-section .list .card .text .model {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #645d59;
}
.products-section .list .card .text .description {
  font-size: 16px;
  line-height: 1.3;
  color: #363636;
}

.products-section .list .card .text .price-btn-content {
  width: 100%;
  margin-top: 26px;
  border-top: 2px solid #e0e0e0;
}
.products-section .list .card .text .price {
  padding-top: 16px;
  font-size: 26px;
  font-weight: bold;
  color: #00355e;
}
.products-section .list .card .button-add {
  width: 100%;
  height: auto;
  position: relative;
  padding: 14px 12px;
  margin: 20px 0 0 0;
  border-radius: 6px;
  display: block;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  background-color: #00355e;
}

/* ---- CART SECTION ---- */
.offcanvas-header {
}
.precio {
  font-size: 2rem;
}
/* Carrito */
#iconoCarrito {
  font-size: 2rem;
}
#badgeCarrito {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 7px;
  font-size: 0.7rem;
  background-color: #000 !important;
}
.offcanvas {
  margin-top: 95px;
  border-radius: 10px 0 0 0;
}

#idCarrito .fa-trash {
  color: #00355e;
}

/* POPUP */
.swal2-popup {
  padding: 0 0 30px !important;
}
.swal2-title {
  padding: 30px 1em 0 !important;
  font-size: 28px !important;
  line-height: 1.3 !important;
  color: #212121 !important;
}
